<div class="fondo">
  <img src="../assets/fondo1.png" alt="">
</div>
<nav class="navbar navbar-dark fixed-top bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pet Mania</a>
    <div class="logo">
      <img src="../assets/logoperfil.png" alt="">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="bg offcanvas offcanvas-start barra" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Administración</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="rellenoform">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="animales">Mascotas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Etiqueta que permite moverse entre componentes -->
<router-outlet></router-outlet>