<div class="formulario">
    <div class="todo">
        <div class="table">
            <form class="mt-3" [formGroup]="AnimalF" (ngSubmit)="BuscarAnimales()">
                <div class="mb-1 mascota">
                    <h3>Formulario de Consulta</h3>
                </div>
                <div class="Formulario mb-1">
                    <label>Nombre de la Mascota
                        <label class="text-danger"
                            *ngIf="AnimalF.get('nombreAnimal')?.hasError('required') && AnimalF.get('nombreAnimal')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="text" formControlName="nombreAnimal" class="form-control">
                    </label>
                </div>
                <div class="Formulario mb-1">
                    <label>Especie de la Mascota
                        <label class="text-danger"
                            *ngIf="AnimalF.get('especie')?.hasError('required') && AnimalF.get('especie')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <select class="form-select" aria-label="Default select example" formControlName="especie">
                            <option value="Gato">Gato</option>
                            <option value="Perro">Perro</option>
                            <option value="Iguana">Iguana</option>
                        </select>
                    </label>
                </div>
                <div class=" mb-1">
                    <label>Edad de la Mascota
                        <label class="text-danger"
                            *ngIf="AnimalF.get('edad')?.hasError('required') && AnimalF.get('edad')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="number" formControlName="edad" class="form-control">
                    </label>
                </div>
                <div class="Formulario mb-1">
                    <label>Nombre del Dueño
                        <label class="text-danger"
                            *ngIf="AnimalF.get('nombreDuenio')?.hasError('required') && AnimalF.get('nombreDuenio')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="text" formControlName="nombreDuenio" class="form-control">
                    </label>
                </div>
                <div class="Formulario mb-1">
                    <label>Apellidos del Dueño
                        <label class="text-danger"
                            *ngIf="AnimalF.get('apellidosDuenio')?.hasError('required') && AnimalF.get('apellidosDuenio')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="text" formControlName="apellidosDuenio" class="form-control">
                    </label>
                </div>
                <div class=" mb-1">
                    <label>Numero de Contacto
                        <label class="text-danger"
                            *ngIf="AnimalF.get('telefonoDuenio')?.hasError('required') && AnimalF.get('telefonoDuenio')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="number" formControlName="telefonoDuenio" class="form-control">
                    </label>
                </div>
                <div class="Formulario mb-1">
                    <label>Motivo de Consulta
                        <label class="text-danger"
                            *ngIf="AnimalF.get('motivoConsulta')?.hasError('required') && AnimalF.get('motivoConsulta')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="text" formControlName="motivoConsulta" class="form-control">
                    </label>
                </div>
                <div class="Formulario mb-1">
                    <label>Fecha de Consulta
                        <label class="text-danger"
                            *ngIf="AnimalF.get('fechaConsulta')?.hasError('required') && AnimalF.get('fechaConsulta')?.touched">
                            <strong>es obligatorio</strong>
                        </label>
                        <input type="datetime-local" formControlName="fechaConsulta" class="form-control">
                    </label>
                </div>
                <div class=" rv mb-1">
                    <label><br>
                        <label class="text-danger">
                        </label>
                        <button type="button" class="btn btn-success" 
                            (click)="postAnimal()">Nuevo</button>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>